repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
        args: ["./backend/..."]
      - id: go-imports
        args: ["./backend/..."]
      - id: no-go-testing
        args: ["./backend/..."]
      - id: golangci-lint
        args: ["./backend/..."]
      - id: go-unit-tests
        args: ["./backend/..."]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
